$textoResaltado:(inicio: 1rem,
    destacado:2rem,
    final:0.5rem,
);

@each $frases,
$tamanio in $textoResaltado {
    .#{$frases} {
        font-size  : $tamanio;
        font-weight: bold;
        font-style: italic;
    }
}